*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Montserrat', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-bg: #fff;
    --clr-dark: #232528;
    --clr-light: #E6EFE9;
    --clr-accent: #83A0A0;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

section {
    padding: 5em 2em;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

header {
    background: var(--clr-accent);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--clr-accent);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color:  var(--clr-dark);
    font-weight: var(--fw-bold);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--clr-light);
}

.nav-toggle:checked ~ nav {
 transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 600px) {

    .nav-toggle-label {
    display: none;
    }

    header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 2 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
        opacity: 1;
    }

    nav ul {
        display:  flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__subtitle--intro {
    background: var(--clr-light);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width:  600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -.5 / 1;
        grid-row: 2;
        text-align: right;
    }

}

.text {
    position:  absolute;
    bottom: 0px;
    text-align: center;
}

.popup {
    float: left;
    width: 31%;
    margin: 1% 1% 45px 1%;
}

.popuptext {
    position:  absolute;
    bottom: 0px;

}

.popup,
.popuptext {
    font-weight: var(--fw-reg);
    font-size: var(--fs-h3);
}

.popup img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1em;

}

.services {
    position: relative;
    overflow: hidden;
    max-width: 0 auto;
}


.section__title {
    margin-bottom: .25em;
}

.section__title--portfolio {
    position: relative;    
    text-align: center;
}

.section__title--portfolio::after {
    content: '';
    display: block;
    width: 10em;
    height: 2px;
    margin: 0.5em auto 1em;
    background: currentColor;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--about {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.about {
    max-width: 1000px;
    margin: 0 auto;
}



@media (min-width: 600px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-area: subtitle;
        grid-column: 1 / -1;
        grid-row: 2;
        width: calc(100% + 3em);
    }

    .about-me__image {
        grid-area: img;
    }

}


.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
     font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}
